.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7%;
    min-height: 100vh;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    justify-content: space-between;
    border-bottom: 2px solid black;

    .navlogo{
        width: 100%;
        height: 13%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 1rem;

        img{
            width: 80%;
            rotate: -10deg;
        }
    }
    .navlinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        min-height: 45%;
        gap: 0.2rem;

        .navlink{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;    
            width: 100%;
            height: 25%;
            font-size: 0.8rem;

            i{
                font-size: 1.5rem;
            }
        }
    }
    .navbottom{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        min-height: 20%;
        gap: 0.2rem;
        flex-direction: column;

        .navlink{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;    
            width: 100%;
            min-height: 25%;
            font-size: 0.8rem;

            i{
                font-size: 1.5rem;
            }
        }
    }
}

a{
    text-decoration: none;
    color: black;
}

a.active{
    color: #FF7F50;
}


@media (max-width: 768px){
    .navbar{
        width: 20%;
        border: 1px solid black;
    }
    .navbottom{
        gap: 0.5rem;
    }
}



@media (min-width: 769px) and (max-width: 1023px){
    .navbar{
        width: 15%;
        border: 1px solid black;

        .navlinks{
            gap: 0.5rem;
    
            .navlink{
                font-size: 1.2rem;
    
                i{
                    font-size: 2rem;
                }
            }
        }

        .navbottom{
            gap: 0.5rem;
    
            .navlink{
                font-size: 1.2rem;
    
                i{
                    font-size: 2rem;
                }
            }
        }
    }

    
}